<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Taekwondo Kicks API</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="d-flex align-items-center">


<div class="container m-auto">
<div class="card text-center">
    <div class="card-header">
        <h2>TAEKWONDO KICKS API</h2>
    </div>
    <div class="pt-3"> <img src='kick.svg' alt="a martial artist performing a kick" height="300"/></div>
    <div id="information" class="card-body">
        <div class="pb-3 pt-3"> <p class="card-title">To find the technique you're looking for, just type it into the box and hit the 'Search!' button!</br> Try starting with "<%= randomKick %>"</p></div>
        <input type="text"> </br>
        <div class="pt-3"><button type="button" class="btn btn-primary">Search!</button></div>
        <h5 class="mt-3">Name of the kick:</h5><span id="name"></span>
        <h5 class="mt-3">Korean name of the kick:</h5><span id="korean"></span>
        <h5 class="mt-3">Instructions:</h5><span id="instructions"></span>
        <h5 class="mt-3 mb-3">Tips: </h5><span id ="tips"></span>
        <p class="random mt-5" id="random"></p>
    </div>
    <div class="card-footer text-body-secondary">
        Su Jade, 2024 </br>
        Kick vector from Vecteezy.com
    </div>
</div>
</div>




<script src="js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>